<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
 
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.user.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NormalLoginServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.user.NormalLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.user.UpdatePwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetUserInfoServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.user.SetUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ThreeLoginServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.user.ThreeLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCommunityListServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.community.GetCommunityListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCommunityInfoServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.community.GetCommunityInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTopInvServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.community.GetTopInvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InterestCoServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.community.InterestCoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CancelInterestCoServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.community.CancelInterestCoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublishInvServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.community.PublishInvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCarouselListServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.community.GetCarouselListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublishCommentServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.community.PublishCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublishTopicCommentServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.community.PublishTopicCommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetNormalInvServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.community.GetNormalInvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublishProblemServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.bage.PublishProblemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PublishAnswerServlet</servlet-name>
    <servlet-class>com.feytuo.bageshuo.servlet.bage.PublishAnswerServlet</servlet-class>
  </servlet>


















  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/user/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NormalLoginServlet</servlet-name>
    <url-pattern>/user/NormalLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePwdServlet</servlet-name>
    <url-pattern>/user/UpdatePwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetUserInfoServlet</servlet-name>
    <url-pattern>/user/SetUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThreeLoginServlet</servlet-name>
    <url-pattern>/user/ThreeLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCommunityListServlet</servlet-name>
    <url-pattern>/community/GetCommunityList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCommunityInfoServlet</servlet-name>
    <url-pattern>/community/GetCommunityInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTopInvServlet</servlet-name>
    <url-pattern>/community/GetTopInv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InterestCoServlet</servlet-name>
    <url-pattern>/community/InterestCo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CancelInterestCoServlet</servlet-name>
    <url-pattern>/community/CancelInterestCo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishInvServlet</servlet-name>
    <url-pattern>/community/PublishInv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCarouselListServlet</servlet-name>
    <url-pattern>/community/GetCarouselList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishCommentServlet</servlet-name>
    <url-pattern>/community/PublishComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishTopicCommentServlet</servlet-name>
    <url-pattern>/community/PublishTopicComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNormalInvServlet</servlet-name>
    <url-pattern>/community/GetNormalInv</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishProblemServlet</servlet-name>
    <url-pattern>/bage/PublishProblem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PublishAnswerServlet</servlet-name>
    <url-pattern>/bage/PublishAnswer</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
